$darkest-color:     #05386B;
$base-dark-color:   #379683;
$base-color:        #5CDB95;
$base-light-color:  #8EE4AF;
$lightest-color:    #EDF5E1;
$white: ghostwhite;
$fbLoginBackground: #f0f2f5;
$primaryButton: #1877f2;

$ogColor: #282c34;

.white-bg {
    background-color: $white;
}
.light-bg {
    background-color: $lightest-color;
}