@media (prefers-color-scheme: dark) {
    #root {
        background-color: $darkest-color;
        .title {
            color: $white;
        }
    }

    ::-webkit-scrollbar-thumb {
        background-color: #303030;
        background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%, transparent 75%,transparent);
    }


    #nav-header {
        div {
            &.active {
                color: $white;
                background-color: $darkest-color;
            }
        }
    }



    .contact-wrapper .field-wrap {
        background: #303030bf;
        margin-bottom: 30px;
        border-radius: 25px;
        box-shadow: inset 8px 8px 8px #0f1419, inset -8px -8px 8px #1d1c1c9e;
    }

    .contact-wrapper{
        background: #0a3b6d;
        padding: 60px 35px 35px 35px;
        border-radius: 40px;
        box-shadow: 13px 13px 20px #04305b, -13px -13px 20px #06407b;
    }

    .contact-wrapper .fields input, .contact-wrapper .fields textarea {
        color: $white;
    }

}