.flex {
    display: flex;
    &.wrap {
        flex-wrap: wrap
    }
    &.centered {
        justify-content: center;
        align-items: center;
    }
    &.alignItemsCenter {
        align-items: center;
    }
    &.justifyContentCenter {
        justify-content: center;
    }
    &.tech > * {
        min-width: 33%;
    }
    &.flex-static {
        flex: 0
    }
}

