.flex {
    display: flex;
    &.centered {
        justify-content: center;
        align-items: center;
    }
    &.alignItemsCenter {
        align-items: center;
    }
    &.justifyContentCenter {
        justify-content: center;
    }
}