@import './colors.scss';

* {
    box-sizing: border-box;
}

.fullHeight {
    height: 100%;
}
.fullWidth {
    width: 100%;
}
.fullDim {
    @extend .fullHeight, .fullWidth;
}
html, body, #root {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.page {
    height: 100%;
    .page-content {
        height: calc(100% - 64px);
        overflow: auto;
    }
}

.clickable {
    cursor: pointer;
}

.nav-wrapper {
    background-color: $nav;
    ul > li {
        padding: 0 20px;
        @extend .clickable;
    }
}

.card {
    background-color: $card;
}

.row {
    margin: 0;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

#About > div {
    background: #0D1821;
}
@import './flex.scss';
@import './scrollBar.scss';




.resume {
    height: 50ch;
    width: 35ch;
    background-image: url("./../Assets/Resume.jpg");
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgb(0 0 0 / 30%);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 15px solid white;
    cursor: pointer;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    &:hover {
        box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
    }
}



.download-btn {
    padding: 10px;
    background-color: $dark;
    width: 100%;
    font-size: 30px;
    opacity: 0;
    color: white;
}