@import './fonts.scss';
@import './colors.scss';
@import './flex.scss';
@import './padding.scss';
@import './navigation.scss';
@import './scrollbar.scss';

* {
    box-sizing: content-box;
    font-family: 'Raleway', sans-serif;
}

html, body, #root, .full-dim {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.full-dim-vh {
    height: 100vh;
}


.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}

#root {
    background-color: $white;
    overflow: hidden;
}

.slightBlur {
    filter: blur(1px);
}

.centered-text {
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.absolute-top {
    position: absolute;
    top: 0;
    left: 0;
}

.dark-right-border {
    border-right: 1px solid $darkest-color;
}
.dark-bottom-border {
    border-bottom: 1px solid $darkest-color;
}


.no-margin {
    margin: 0;
}


.rounded-edges {
    border-radius: 7px;
}

.spaced-text {
    letter-spacing: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.text-15 {
    font-size: 15px;
}

.not-allowed-cursor {
    cursor: not-allowed;
}

.default-cursor {
    cursor: auto;
}

.clickable {
    cursor: pointer;
}







/* CONTACT FORM */
.contact-wrapper {
    width:750px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    
    .fields input, .fields textarea {
        border: none;
        outline:none;
        background: none;
        font-size: 18px;
        color: #555;
        padding:20px 10px 20px 20px;
    }
    textarea {
        background: transparent;
        outline: none;
        border: none;
        height: 200px;
        padding: 20px 10px 20px 20px;
    }
    .field-wrap {
        margin-bottom: 30px;
        border-radius: 25px;
        box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    }
    .fields svg {
        height: 22px;
        margin:0 10px -3px 25px;
    }
}


/*Needs to be declared here due to level of importance!*/
@import './darkMode.scss';